<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container" style="justify-content: center;">
      <div class="logout-container">
        <h2 class="header font" style="color: white;">
          Thank you for using Chapp.
        </h2>

        <a href="/">
          <img class="login-img" src="/static/login.svg" alt="login">
        </a>
      </div>
    </div>  
  </body>
</html>
