<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../static/style.css">

  <style>
    p {
      width: 320px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="login">

      <h2 class="header font" style="color: white; ">
        Welcome to Chapp!
      </h2>

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button2" type="submit" style="margin-top: 20px;">Sign Up</button>
      </form>
    </div>
  </div>
</body>
</html>
